.hero {
  background: #f8f8f8;
  padding: 80px 20px;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5rem;
}

.hero-content p {
  margin: 1rem 0;
}

.btn {
  background: #007bff;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background: #fff;
}

.feature img {
  height: 80px;
  margin-bottom: 10px;
}

/* .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
} */

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
